<br \><br \>
<div class="container">
 	<div class ="well">
 		<p><h3>Enviale un Mensaje a <%= @user.first_name %></h3></p>
      <p><%= form_tag({controller: "messages", action: "create"}, method: :post) do %></p>
      <%= label_tag :Asunto %>
      <p><%= text_field_tag :subject %></p>
      <%= label :body, "Mensaje" %>
      <p><%= text_area_tag :body %></p>
       <%= hidden_field_tag(:user, "#{@user.id}") %>
      <%= submit_tag 'Enviar Mensaje', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
