<div id=":12r" class="ii gt m145a9dc149ac84b0 adP adO"><div id=":12s" class="a3s" style="overflow: hidden;"><u></u>
	
    <div marginwidth="0" marginheight="0">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            	<tbody><tr>
                	<td align="center" valign="top">
                        
                        <br>
                        
                    	<table border="0" cellpadding="0" cellspacing="0" width="600">
                        	<tbody><tr>
                            	<td align="center" valign="top">
                                    
                                	<table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tbody><tr>
                                            <td>
                                            
                                            	
                    <img src="http://oi57.tinypic.com/240ympj.jpg" class="mg-thumbnail img-responsive" style="width: 70%;
        display: block;
        margin: 0 auto 0 auto;">
                                            	
                                            
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    
                                	<table border="0" cellpadding="10" cellspacing="0" width="600">
                                    	<tbody><tr>
                                            <td valign="top">
                                
                                                
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tbody><tr>
                                                        <td valign="top">
                                                            <div><h1>Bienvenido a Sinstock</h1>
																	<p>Hola <b><%= @user.first_name %></b>, muchas <span class="il">gracias</span> <span class="il">por</span> <span class="il">registrarte</span> en Sinstock,de parte de todo el equipo que trabaja con SinStock, te damos la Bienvenido a la mejor opción para hacer trueques e intercambios de productos en internet<br> 
																

                                                                    </p><b>Por favor Activa tu cuenta</b> atraves de este <%= link_to 'link', login, activate_user_url(@user.activation_token) %>.
															</div>
														</td>
                                                    </tr>
                                                </tbody></table>
                                                
                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    
                                	<table border="0" cellpadding="10" cellspacing="0" width="600">
                                    	<tbody><tr>
                                        	<td valign="top">
                                            
                                                
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tbody><tr>
                                                        <td colspan="2" valign="middle">
                                                            <div>&nbsp;<a href="http://mandrillapp.com/track/click.php?u=30149154&amp;id=9cddfbc767d14350974e0772c5be32c7&amp;url=http%3A%2F%2Ftwitter.com%2Fdevcodela&amp;url_id=d51dbb30f310d51da8c696ecfeb44193c8b8d96c" target="_blank">Siguenos en Twitter</a> | <a href="http://mandrillapp.com/track/click.php?u=30149154&amp;id=9cddfbc767d14350974e0772c5be32c7&amp;url=http%3A%2F%2Ffb.com%2Fdevcodela%2A&amp;url_id=c6d30b9046191335eda2cd53787879bf58de59f4" target="_blank">Siguenos en Facebook</a>&nbsp;</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" valign="middle">
							                        		<h3>Los siguientes son tus Datos de contacto:</h3>
                                                            
                                                            <div>
                                                                &nbsp;<b>Nombre: </b>
                                                                <%= @user.first_name %> |
                                                                <b>Email: </b>
                                                                <%= @user.email %> | 
                                                                <b>Clave: </b>
                                                                <%= @user.password %> &nbsp;
                                                            </div>
                                                        </td>
                                                        <br/><br/><br/>
                                                        <td colspan="2" valign="middle">
                                                            <h3><p> Gracias por usar nuestros servicios</p></h3>
                                                            <p><a href="www.sinstock.com.co">www.sinstock.com.co</a></p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                                
                                            
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        <br>
                    </td>
                </tr>
            </tbody></table>
        </center>
    <img src="https://ci6.googleusercontent.com/proxy/-b9G1EbxLQOqzrmkMOyTAsoR1EvSWzFyuJDiC5i_uJLvHYvbsAo-1zvHxjuFYbxgBNNbw4G37av-WtrVlmYkzJq8u2wk3-517ZfLgBRvB149RPnUl8lsRg-2C74klAXvjg6RPegVANjUJQ=s0-d-e1-ft#http://mandrillapp.com/track/open.php?u=30149154&amp;id=9cddfbc767d14350974e0772c5be32c7" height="1" width="1" class="CToWUd"></div><div class="yj6qo"></div><div class="adL">
</div></div></div>
