<style type="text/css">
.stepwizard-step p {
    margin-top: 10px;
    margin-left: -40%;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: -32%;
}
</style>


<script type="text/javascript">
  $(document).ready(function () {

    var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
                $item = $(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-primary').addClass('btn-default');
            $item.addClass('btn-primary');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function(){
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

        $(".form-group").removeClass("has-error");
        for(var i=0; i<curInputs.length; i++){
            if (!curInputs[i].validity.valid){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid)
            nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
});
</script>



<style type="text/css">

.form-signin {
  width: 2000px;
  max-width: 1330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font: 15px 'Segoe UI',Arial,sans-serif;
  background-color: #EAEBE5;
  height: auto;
  padding: 10px;
  color:#7e8c8d;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#recover input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*___________________________________*/
.container {

  
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.container .form-signin {
  position:absolute;
  
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;

}


.container.flipped .form-signin{
  
  opacity:0;
  
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}

.container.flipped #recover{
  
  opacity:1;
  
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}


.form-signin {
  z-index:100;
}

  
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;

}

#login{
  background: #f3f3f3;
  z-index: 100;
}

#recover:before {
  /* The "Click here" tooltip */
  width:100px;
  height:26px;
  content:'Sign in';
  position:absolute;
  right:270px;
  top:15px;
}



#recover{
  background:#f3f3f3;
  z-index:1;
  
  /* Rotating the recover password form by default */
  -moz-transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}

#formContainer.flipped #login{
  
  opacity:0;
  
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}

#formContainer.flipped #recover{
  
  opacity:1;
  
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}


/*----------------------------
  Inputs, Buttons & Links
-----------------------------*/


#login .flipLink,
#recover .flipLink{  
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

#triangle-topright {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
  height: 0;
  border-top: 100px solid #ddd; 
  border-left: 100px solid transparent;
}

#triangle-topleft {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right:auto;
  left:0;
  width: 0;
  height: 0;
  border-top: 50px solid #ddd;
  border-right: 50px solid transparent;     
}

#recover .flipLink{
  right:auto;
  left:0;
}

#forkongithub a {
  box-sizing: content-box;
  background:#ddd;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a:hover {
  background:#aaa;
  color:#fff;
}

#forkongithub a::before, #forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after {
  bottom:1px;
  top:auto;
}

@media screen and (min-width:800px){
  #forkongithub {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    height:200px;
  }

  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
    box-shadow:2px 2px 10px rgba(0,0,0,0.8);
  }
}
.panel-heading{
    background-color: #1abc9c !important;
}
</style>

<script type="text/javascript">
     function validate(field) {
    // Get the  value of the input field being submitted
    value = document.getElementById(field).value;

    // Set the error field tag in the html
    errorField = field + 'Error';

    // Set the success field
    successField = field + 'Success';

    if (value != '') {
        document.getElementById(successField).style.display = 'block';
        document.getElementById(errorField).style.display = 'none';
        return true;
    } else {
        document.getElementById(successField).style.display = 'none';
        document.getElementById(errorField).style.display = 'block';
        return false;
    }
}

function SimulateSubmit() {
    // Query your elements some how
    var inputs = document.getElementsByTagName('input');

    // Loop your elements
    for (i = 0, len = inputs.length; i < len; i++) {
        if( validate(inputs[i].id) === false) {
        }
    }
}
</script>


<script type="text/javascript">
  $(document).ready(function () {


      //  Input Primer Nombre                                        
      $("#Primer_Nombre").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Primer_Nombre').val() != ''){
            //display error message
            $("#correctoPrimer_Nombre").html("Dato Ingresado correctamente").show();
            $("#Error").hide();
            return true;
        }
          
       });



      //  Input Segundo Nombre                                        
      $("#Segundo_Nombre").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Segundo_Nombre').val() != ''){
            //display error message
            $("#correctoSegundo_Nombre").html("Dato Ingresado correctamente").show();
            return true;
        }
          
       });



       //  Input Primer Apellido                                        
      $("#Primer_Apellido").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Primer_Apellido').val() != ''){
            //display error message
            $("#correctoPrimer_Apellido").html("Dato Ingresado correctamente").show();
            $("#Error2").hide();
            return true;
        }
          
       });


       //  Input Segundo Apellido                                        
      $("#Segundo_Apellido").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Segundo_Apellido').val() != ''){
            //display error message
            $("#CorrectoSegundo_Apellido").html("Dato Ingresado correctamente").show();
            return true;
        }
          
       });

      //  Input Telefono                                        
      $("#Telefono").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))  {
            //display error message
            return false;

        }
        else{
            return true;

          }
       });

       //  Input Telefono                                       
      $("#Telefono").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Telefono').val() != ''){
            $("#CorrectoTelefono").html("Dato Ingresado correctamente").show();
            $("#Error3").hide();
        }
          
       });



      //  Input Telefono                                        
      $("#Identificación").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))  {
            //display error message
            return false;

        }
        else{
            return true;

          }
       });

       //  Input Telefono                                       
      $("#Identificación").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Identificación').val() != ''){
            $("#CorrectoIdentificación").html("Dato Ingresado correctamente").show();
            $("#Error4").hide();
        }
          
       });

      //  Input Celular                                        
      $("#Celular").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))  {
            //display error message
            return false;

        }
        else{
            return true;

          }
       });

       //  Input Celular                                       
      $("#Celular").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Celular').val() != ''){
            $("#CorrectoCelular").html("Dato Ingresado correctamente").show();
            $("#Error5").hide();
        }
          
       });


       //  Input Razon Social                                       
      $("#Razon_Social").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Razon_Social').val() != ''){
            $("#CorrectoRazonSocial").html("Dato Ingresado correctamente").show();
            $("#Error6").hide();
        }
          
       });

       //  Input Rut                                       
      $("#Rut").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Rut').val() != ''){
            $("#CorrectoRut").html("Dato Ingresado correctamente").show();
            $("#Error7").hide();
        }
          
       });

       //  Input Direccion                                       
      $("#Direccion").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Direccion').val() != ''){
            $("#CorrectoDireccion").html("Dato Ingresado correctamente").show();
            $("#Error8").hide();
        }
          
       });

       //  Input Pagina Web                                       
      $("#Pagina_Web").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Pagina_Web').val() != ''){
            $("#CorrectoPaginaWeb").html("Dato Ingresado correctamente").show();
            $("#Error9").hide();
        }
          
       });   

      //  Input Pagina Web                                       
      $("#Descripcion").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Descripcion').val() != ''){
            $("#CorrectoDescripcion").html("Dato Ingresado correctamente").show();
            $("#Error10").hide();
        }
          
       });   

      //  Input Primer Nombre contacto                                       
      $("#Primer_Nombre_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Primer_Nombre_Contacto').val() != ''){
            $("#CorrectoPrimer_Nombre_Contacto").html("Dato Ingresado correctamente").show();
            $("#Error11").hide();
        }
          
       });  
      
            //  Input Primer Nombre contacto                                       
      $("#Segundo_Nombre_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Segundo_Nombre_Contacto').val() != ''){
            $("#CorrectoSegundo_Nombre_Contacto").html("Dato Ingresado correctamente").show();
            $("#Error12").hide();
        }
          
       });  
                  //  Input Primer Nombre contacto                                       
      $("#Primer_Apellido_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Primer_Apellido_Contacto').val() != ''){
            $("#CorrectoPrimer_Apellido_Contacto").html("Dato Ingresado correctamente").show();
            $("#Error13").hide();
        }
          
       });  

      $("#Segundo_Apellido_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Segundo_Apellido_Contacto').val() != ''){
            $("#CorrectoSegundo_Apellido_Contacto").html("Dato Ingresado correctamente").show();
            $("#Error14").hide();
        }
          
       }); 


      $("#Primer_Telefono_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Primer_Telefono_Contacto').val() != ''){
            $("#CorrectoPrimer_Telefono_Contacto").html("Dato Ingresado correctamente").show();
            $("#Error15").hide();
        }
          
       }); 

      $("#Segundo_Telefono_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Segundo_Telefono_Contacto').val() != ''){
            $("#CorrectoSegundo_Telefono_Contacto").html("Dato Ingresado correctamente").show();
            $("#Error16").hide();
        }
          
       }); 



      $("#Email").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Email').val() != ''){
            $("#CorrectoEmail").html("Dato Ingresado correctamente").show();
            $("#Error17").hide();
        }
          
       }); 

      $("#password1").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#password1').val() != ''){
            $("#Correctopassword1").html("Dato Ingresado correctamente").show();
            $("#Error18").hide();
        }
          
       });    

      $("#password2").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#password2').val() != ''){
            $("#Correctopassword2").html("Dato Ingresado correctamente").show();
            $("#Error19").hide();
        }
          
       }); 

      
      
      //  Input Primer Telefono de Contacto                                        
      $("#Primer_Telefono_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))  {
            //display error message
            return false;

        }
        else{
            return true;

          }
       });

       //  Input Celular                                       
      $("#Primer_Telefono_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Primer_Telefono_Contacto').val() != ''){
            $("#CorrectoPrimerTelefonoContacto").html("Dato Ingresado correctamente").show();
            $("#Error20").hide();
        }
          
       });

      //  Input Primer Telefono de Contacto                                        
      $("#Segundo_Telefono_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))  {
            //display error message
            return false;

        }
        else{
            return true;

          }
       });

       //  Input Celular                                       
      $("#Segundo_Telefono_Contacto").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if ($('#Segundo_Telefono_Contacto').val() != ''){
            $("#CorrectoSegundoTelefonoContacto").html("Dato Ingresado correctamente").show();
            $("#Error21").hide();
        }
          
       });




});

</script>




</div>




<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->
<div class="yy">
<div class="container">
    <div class="row vertical-offset-100">
            <div class="container" style="width:100%; margin-left:-1.5%;">    
        <div id="loginbox" style="margin-top:-50px;"  class="mainbox col-md-12 col-sm-12 "> 
          <div class="panel">
            <div class="container">
              <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>Datos personales</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Actualiza tu Foto Personal</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>Datos Empresa</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                        <p>Actualiza el Logo empresa</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                        <p>Datos Acceso</p>
                    </div>
                    
                </div>
              </div>
              <%= form_for(@user, html: { multipart: true, :class => 'form-horizontal', :id => "loginform", data: { persist: '' } }) do |f| %>
                <form role="form">
                  <div class="row setup-content" id="step-1">
                    <div class="col-xs-12">
                      <div class="col-md-11">
                        <style type="text/css">
                            .panel {
                                border-color: #1abc9c;
                            }
                            .panel-heading{
                              background-color:#1abc9c;
                            }
                            </style>
                            <br/><br/>
                               <div class="panel" style="margin-left:30px;">
                                  <div class="panel-heading">
                                    <div class="panel-title color-blanco">Por Favor Ingresa todos tus Datos</div>
                                    <div style="float:right; font-size: 80%; position: relative; top:-20px; "><a href="#" style="color:white;">Olvidaste tu Contraseña?</a></div>
                                  </div>     
                                  <div style="padding-top:10px" class="panel-body" >
                                      <h3>Datos Personales</h3>
                                      <div class="row">
                                          <div class="col-md-6">   
                                            <div class="col-sm-12 form-group">             
                                                <%= f.label "Primer Nombre" %><br />
                                                  <%= f.text_field :first_name, class: "form-control" , :placeholder => "Primer Nombre", id: 'Primer_Nombre' %>
                                                <span id="correctoPrimer_Nombre" class="Correcto"></span>
                                                <span id="Error" class="Error">Campo Obligatorio</span>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="col-sm-12 form-group">
                                                <%= f.label "Segundo Nombre" %><br />
                                                    <%= f.text_field :second_name, class: "form-control" , :placeholder => "Segundo Nombre", id: 'Segundo_Nombre' %>
                                                <span id="correctoSegundo_Nombre"  class="Correcto"></span>
                                            </div>
                                          </div>
                                      </div>   
                                      <div class="row">
                                          <div class="col-md-6">
                                              <%= f.label "Primer Apellido" %><br />
                                              <div class="col-sm-12 form-group">
                                                  <%= f.text_field :first_surname, class: "form-control", :placeholder => "Primer Apellido", id: 'Primer_Apellido', onblur: "validate('Primer_Apellido')" %>
                                                  <span id="correctoPrimer_Apellido"  class="Correcto"></span>  
                                                  <span id="Error2" class="Error">Campo Obligatorio</span>
                                              </div>                                      
                                          </div>
                                          <div class="col-md-6">
                                              <%= f.label "Segundo Apellido" %><br />
                                              <div class="col-sm-12 form-group">
                                                  <%= f.text_field :second_surname, class: "form-control" , :placeholder => "Segundo Apellido", id: 'Segundo_Apellido' %>
                                                  <span id="CorrectoSegundo_Apellido"  class="Correcto"></span> 
                                              </div> 
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <%= f.label "Telefono" %><br />
                                              <div class="col-sm-12 form-group">
                                                  <%= f.text_field :phone, class: "form-control", :placeholder => "Primer Apellido", id: 'Telefono', onblur: "validate('Telefono')" %>
                                                  <span id="CorrectoTelefono" class="Correcto"></span>
                                                  <span id="Error3" class="Error">Campo Obligatorio</span>
                                            </div>                                      
                                          </div>
                                          <div class="col-md-6">
                                                  <%= f.label "Identificación" %><br />
                                                  <div class="col-sm-12 form-group">
                                                  <%= f.text_field :identification, class: "form-control" , :placeholder => "Identificación", id: 'Identificación', onblur: "validate('Identificación')" %>
                                                  <span id="CorrectoIdentificación" class="Correcto"></span>
                                                  <span id="Error4" class="Error">Campo Obligatorio</span>
                                              </div>
                                          </div>
                                      </div>       
                                      <div class="row">
                                          <div class="col-md-6">
                                                  <%= f.label "Celular" %><br />
                                                  <div class="col-sm-12 form-group">
                                                  <%= f.text_field :cell_phone, class: "form-control", :placeholder => "Primer Apellido", id: 'Celular', onblur: "validate('Celular')" %><span id="CorrectoCelular" class="Correcto"></span>
                                                  <span id="Error5" class="Error">Campo Obligatorio</span>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                              </div>  
                                          </div>
                                      </div> 
                                      <div class="row">
                                           <div class="col-md-10">
                                           </div>        
                                           <div class="col-md-2">
                                            <button class="btn btn-primary nextBtn btn-lg " type="button" >Siguiente</button>
                                           </div>        
                                      </div>
                                      <br/>
                                  </div>
                              </div>
                      </div>

                  </div>
                  </div>
                      <div class="row setup-content" id="step-2">
                        <div class="col-xs-12">
                          <div class="col-md-11">
                             
                                <br/><br/><!-- Default panel contents -->

                            <div class="panel">
                                
                                <div class="panel-heading color-blanco"  style="background-color:#1abc9c;">Actualiza tu Foto Personal</div>
                                <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <% if @user.picture? %>
                                                <center><%= image_tag @user.picture, class:"img-thumbnail", :size => "180x180" %></center>
                                                <% else %>
                                                <center><%= image_tag('default.jpg',:class => "img-thumbnail img-responsive", :size => "180x180")  %></center>
                                                <% end %>
                                            </div>
                                            <br/>        
                                            <div class="col-md-6"> 
                                                <div class="form-group">
                                                    <div class="input-container">
                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                                          <div>
                                                            <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :picture, class: "form-control", id: 'button' %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                               <div class="col-md-10">
                                                 
                                               </div>        

                                               <div class="col-md-2">
                                                <button class="btn btn-primary nextBtn btn-lg " type="button" >Siguiente</button>
                                                 
                                               </div>        
                                           
                                          </div>
                                        </div> 
                                </div>
                            </div>


                          </div></div>              
                      </div>
                      <div class="row setup-content" id="step-3">
                        <div class="col-xs-12">
                          <div class="col-md-11">
                              <br/><br/>
                              <div class="panel">
                                  <div class="panel-heading color-blanco" style="background-color:#1abc9c;">Datos Empresa</div>
                                  <div class="panel-body">
                                        <div class="row">
                                          <div class="col-md-6">   
                                          <div class="col-sm-12 form-group">                                         
                                              <%= f.label "Razón Social" %><br />
                                                  <%= f.text_field :business_name, class: "form-control" , :placeholder => "Razón Social", id: 'Razon_Social' %>
                                                  <span id="CorrectoRazonSocial" class="Correcto"></span>
                                                  <span id="Error6" class="Error">Campo Obligatorio</span>
                                              </div>
                                          </div>

                                          <div class="col-md-6">
                                          <div class="col-sm-12 form-group">
                                              <%= f.label "Rut" %><br />
                                                  <%= f.text_field :rut, class: "form-control" , :placeholder => "Rut", id: 'Rut' %>
                                                  <span id="CorrectoRut"  class="Correcto"></span>
                                                  <span id="Error7" class="Error">Campo Obligatorio</span>
                                              </div>
                                          </div>
                                      </div> 
                                        
                                      <div class="row">
                                          <div class="col-md-6">   
                                          <div class="col-sm-12 form-group">                                         
                                              <%= f.label "Dirección" %><br />
                                                  <%= f.text_field :address, class: "form-control" , :placeholder => "Direccion", id: 'Direccion' %>
                                                  <span id="CorrectoDireccion" class="Correcto"></span>
                                                  <span id="Error8" class="Error">Campo Obligatorio</span>
                                              </div>
                                          </div>

                                          <div class="col-md-6">
                                          <div class="col-sm-12 form-group">
                                              <%= f.label "Pagina Web" %><br />
                                                  <%= f.text_field :web_page, class: "form-control" , :placeholder => "Tienes Pagina Web?", id: 'Pagina_Web' %>
                                                  <span id="CorrectoPaginaWeb"  class="Correcto"></span>
                                                  <span id="Error9" class="Error">Campo Obligatorio</span>
                                              </div>
                                          </div>
                                      </div> 

                                      

                                      <div class="row">
                                          <div class="col-md-12">   
                                          <div class="col-sm-12 form-group">                                         
                                              <%= f.label "Descripción" %><br />
                                                  <%= f.text_area :description, class: "form-control" , :placeholder => "Por Favor ingresa una Descripcion de la Empresa", id: 'Descripcion' %>
                                                  <span id="CorrectoDescripcion" class="Correcto"></span>
                                                  <span id="Error10" class="Error">Campo Obligatorio</span>
                                              </div>
                                          </div>

                                      </div>
                                        <div class="row">
                                             <div class="col-md-10">
                                               
                                             </div>        

                                             <div class="col-md-2">
                                              <button class="btn btn-primary nextBtn btn-lg " type="button" >Siguiente</button>
                                               
                                             </div>        
                                         
                                        </div> 
                                  </div>
                              </div>
                          </div>  
                        </div>
                      </div>
                      <div class="row setup-content" id="step-4">
                        <div class="col-xs-12">
                          <div class="col-md-11">
                            <br/><br/>

                            <div class="panel">
                                <!-- Default panel contents -->
                                <div class="panel-heading  color-blanco"  style="background-color:#1abc9c;">Actualiza el Logo de la empresa</div>
                                <div class="panel-body">
                                    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <% if @user.logo? %>
                                                <center><%= image_tag @user.logo, class:"img-thumbnail", :size => "180x180" %></center>
                                                <% else %>
                                                <center><%= image_tag('default.jpg',:class => "img-thumbnail img-responsive", :size => "180x180")  %></center>
                                                <% end %>
                                            </div>
                                            <br/>        
                                            <div class="col-md-6"> 
                                                <div class="form-group">
                                                    <div class="input-container">
                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                                          <div>
                                                            <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :logo, class: "form-control", id: 'button' %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                      <div class="row">
                                           <div class="col-md-10">
                                             
                                           </div>        

                                           <div class="col-md-2">
                                            <button class="btn btn-primary nextBtn btn-lg " type="button" >Siguiente</button>
                                             
                                           </div>        
                                       
                                      </div>
                                </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="row setup-content" id="step-6">
                          <div class="col-xs-12">
                              <div class="col-md-11">
                                  <div class="panel">
                                      <div class="panel-heading color-blanco">Datos Acceso</div>
                                          <div class="panel-body">
                                              <div class="row">
                                                  <div class="col-md-4">   
                                      <div class="col-sm-12 form-group">                                         
                                          <%= f.label "Email" %><br />
                                              <%= f.text_field :email, class: "form-control" , :placeholder => "Primer Apellido Contacto", id: 'Email' %>
                                              <span id="CorrectoEmail" class="Correcto"></span>
                                              <span id="Error17" class="Error">Campo Obligatorio</span>
                                          </div>
                                      </div>

                                      <div class="col-md-4">
                                      <div class="col-sm-12 form-group">
                                          <%= f.label "Contraseña" %><br />
                                              <%= f.password_field :password, class: "form-control" , :placeholder => "Segundo Apellido Contacto", id: 'password1' %>
                                               <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <span>Minimo 8 Caracteres</span><br>
                                              <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <span>Una letra mayuscula</span><br>
                                              <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <span>Una letra minuscula</span><br>
                                              <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <span>Un Numero</span><br>
                                              <span id="Correctopassword1" class="Correcto"></span>
                                              <span id="Error18" class="Error">Campo Obligatorio</span>
                                          </div>
                                      </div>


                                      <div class="col-md-4">
                                      <div class="col-sm-12 form-group">
                                          <%= f.label "Confirmación Contraseña" %><br />
                                              <%= f.password_field :password_confirmation, class: "form-control" , :placeholder => "Segundo Apellido Contacto", id: 'password2' %>
                                              <span id="Correctopassword2" class="Correcto"></span>
                                              <span id="Error19" class="Error">Campo Obligatorio</span><br/>
                                              <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>Las contraseñas concuerdan
                                          </div>
                                      </div>

                                  </div>


                                  <div class="row">


                                      <div class="col-md-8">
   
                                      </div>


                                      <div class="col-md-2">
                                          <%= f.submit 'Enviar!', class: 'btn btn-primary nextBtn btn-lg' %>

                                      </div>

                                  </div>


                                          
                   
                                         




                                          </div>
                                      </div>
                                      

                                  </div>
                              </div>
                      </div>
                    </div>
                </form>
              <% end %>
            </div>
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">
            </div>
            <%= form_for(@user, html: { multipart: true, :class => 'form-horizontal', :id => "loginform" }) do |f| %>
              <br/>   
              <script type="text/javascript">
                $("input[type=password]").keyup(function(){
                  var ucase = new RegExp("[A-Z]+");
                var lcase = new RegExp("[a-z]+");
                var num = new RegExp("[0-9]+");
                
                if($("#password1").val().length >= 8){
                  $("#8char").removeClass("glyphicon-remove");
                  $("#8char").addClass("glyphicon-ok");
                  $("#8char").css("color","#00A41E");
                }else{
                  $("#8char").removeClass("glyphicon-ok");
                  $("#8char").addClass("glyphicon-remove");
                  $("#8char").css("color","#FF0004");
                }
                
                if(ucase.test($("#password1").val())){
                  $("#ucase").removeClass("glyphicon-remove");
                  $("#ucase").addClass("glyphicon-ok");
                  $("#ucase").css("color","#00A41E");
                }else{
                  $("#ucase").removeClass("glyphicon-ok");
                  $("#ucase").addClass("glyphicon-remove");
                  $("#ucase").css("color","#FF0004");
                }
                
                if(lcase.test($("#password1").val())){
                  $("#lcase").removeClass("glyphicon-remove");
                  $("#lcase").addClass("glyphicon-ok");
                  $("#lcase").css("color","#00A41E");
                }else{
                  $("#lcase").removeClass("glyphicon-ok");
                  $("#lcase").addClass("glyphicon-remove");
                  $("#lcase").css("color","#FF0004");
                }
                
                if(num.test($("#password1").val())){
                  $("#num").removeClass("glyphicon-remove");
                  $("#num").addClass("glyphicon-ok");
                  $("#num").css("color","#00A41E");
                }else{
                  $("#num").removeClass("glyphicon-ok");
                  $("#num").addClass("glyphicon-remove");
                  $("#num").css("color","#FF0004");
                }
                
                if($("#password1").val() == $("#password2").val()){
                  $("#pwmatch").removeClass("glyphicon-remove");
                  $("#pwmatch").addClass("glyphicon-ok");
                  $("#pwmatch").css("color","#00A41E");
                }else{
                  $("#pwmatch").removeClass("glyphicon-ok");
                  $("#pwmatch").addClass("glyphicon-remove");
                  $("#pwmatch").css("color","#FF0004");
                }
              });
              </script>
            <% end %>
          </div>                     
        </div>  
      </div>
  </div>
</div>
</div>

<style type="text/css">
  .yy{
    background: url(http://mymaplist.com/img/parallax/back.png);
  background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}
</style>

<script type="text/javascript">
  $(document).ready(function(){
  $(document).mousemove(function(e){
     TweenLite.to($('.yy'), 
        .5, 
        { css: 
            {
                backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
            }
        });
  });
});
</script>




<style type="text/css">
    .fondo{
    background: url(http://mymaplist.com/img/parallax/back.png);
    background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);
}

.vertical-offset-100{
    padding-top:100px;
}
</style>

<script type="text/javascript">
    
    $(document).ready(function(){
  $(document).mousemove(function(e){
     TweenLite.to($('.fondo'), 
        .5, 
        { css: 
            {
                backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
            }
        });
  });
});
</script>


