









<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<div class="fondo">
<div class="container ">
    <div class="row vertical-offset-100">
    <script type="text/javascript">
    $(function(){
    
    // Checking for CSS 3D transformation support
    $.support.css3d = supportsCSS3D();
    
    var formContainer = $('#formContainer');
    
    // Listening for clicks on the ribbon links
    $('.flipLink').click(function(e){
        
        // Flipping the forms
        formContainer.toggleClass('flipped');
        
        // If there is no CSS3 3D support, simply
        // hide the login form (exposing the recover one)
        if(!$.support.css3d){
            $('#login').toggle();
        }
        e.preventDefault();
    });
    
    formContainer.find('form').submit(function(e){
        // Preventing form submissions. If you implement
        // a backend, you might want to remove this code
        e.preventDefault();
    });
    
    
    // A helper function that checks for the 
    // support of the 3D CSS3 transformations.
    function supportsCSS3D() {
        var props = [
            'perspectiveProperty', 'WebkitPerspective', 'MozPerspective'
        ], testDom = document.createElement('a');
          
        for(var i=0; i<props.length; i++){
            if(props[i] in testDom.style){
                return true;
            }
        }
        
        return false;
    }
});

</script>
<style type="text/css">

.form-signin {
  width: 2000px;
  max-width: 1330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font: 15px 'Segoe UI',Arial,sans-serif;
  background-color: #EAEBE5;
  height: auto;
  padding: 10px;
  color:#7e8c8d;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#recover input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*___________________________________*/
.container {

  
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.container .form-signin {
  position:absolute;
  
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;

}


.container.flipped .form-signin{
  
  opacity:0;
  
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}

.container.flipped #recover{
  
  opacity:1;
  
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}


.form-signin {
  z-index:100;
}

  
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;

}

#login{
  background: #f3f3f3;
  z-index: 100;
}

#recover:before {
  /* The "Click here" tooltip */
  width:100px;
  height:26px;
  content:'Sign in';
  position:absolute;
  right:270px;
  top:15px;
}



#recover{
  background:#f3f3f3;
  z-index:1;
  
  /* Rotating the recover password form by default */
  -moz-transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}

#formContainer.flipped #login{
  
  opacity:0;
  
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}

#formContainer.flipped #recover{
  
  opacity:1;
  
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}


/*----------------------------
  Inputs, Buttons & Links
-----------------------------*/


#login .flipLink,
#recover .flipLink{  
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

#triangle-topright {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
  height: 0;
  border-top: 100px solid #ddd; 
  border-left: 100px solid transparent;
}

#triangle-topleft {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right:auto;
  left:0;
  width: 0;
  height: 0;
  border-top: 50px solid #ddd;
  border-right: 50px solid transparent;     
}

#recover .flipLink{
  right:auto;
  left:0;
}

#forkongithub a {
  box-sizing: content-box;
  background:#ddd;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a:hover {
  background:#aaa;
  color:#fff;
}

#forkongithub a::before, #forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after {
  bottom:1px;
  top:auto;
}

@media screen and (min-width:800px){
  #forkongithub {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    height:200px;
  }

  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
    box-shadow:2px 2px 10px rgba(0,0,0,0.8);
  }
}

</style>
<!--Inspired by http://tutorialzine.com/2012/02/apple-like-login-form/ - Apple-like Login Form with CSS 3D Transforms -->

<div class="container">
    <div class="row">
        <div class="container" id="formContainer">
        <div class="col-md-12  col-xs-offset-2 col-sm-offset-1 col-md-offset-1  col-lg-offset-1">
        <% if current_user.type_user == "Persona" %>

                <%= form_for(@user, html: { multipart: true}) do |f| %>
                    <div id = "login" class="form-signin">
                    <div class="user">
                      <div class="modal-header">
                        <h4 class="modal-title"><h3>Datos para personas</h3></h4>
                      </div><br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Primer_Nombre %>
                                    <%= f.text_field :first_name, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Segundo_Nombre %>
                                    <%= f.text_field :second_name, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Identificacion %>
                                    <%= f.text_field :identification, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Primer_Apellido %>
                                    <%= f.text_field :first_surname, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Segundo_Apellido %>
                                    <%= f.text_field :second_surname, class: "form-control"  %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Telefono %>
                                    <%= f.text_field :phone, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Direccion %>
                                    <%= f.text_field :address, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Celular %>
                                    <%= f.text_field :cell_phone, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Rut %>
                                    <%= f.text_field :rut, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Pagina_Web %>
                                    <%= f.text_field :web_page, class: "form-control", :label => "Pagina Web:" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="col-sm-10">
                                    <%= f.label :Primer_Nombre %>
                                    <%= f.text_field :first_name_of_contact_person, class: "form-control", autofocus: true, :label => "Primer nombre:" %>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-sm-10">
                                    <%= f.label :Primer_Nombre %>
                                    <%= f.text_field :second_name_of_contact_person, class: "form-control", :label => "Segundo nombre:"  %>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-sm-10">
                                    <%= f.label :Primer_Apellido %>
                                    <%= f.text_field :first_surname_of_contact_person, class: "form-control", :label => "Primer Apellido:" %>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-sm-10">
                                    <%= f.label :Segundo_Apellido %>
                                    <%= f.text_field :second_surname_of_contact_person, class: "form-control", :label => "Segundo Apellido:" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Email %>
                                    <%= f.email_field :email, class: "form-control"  %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Clave %>
                                    <%= f.password_field :password, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-sm-10">
                                    <%= f.label :Confirmar_clave %>
                                    <%= f.password_field :password_confirmation, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-sm-10">
                                    <%= f.label :Primer_Telefono %>
                                    <%= f.text_field :first_phone_of_contact_person, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-10">
                                    <%= f.label :Segundo_Telefono %>
                                    <%= f.text_field :second_phone_of_contact_person, class: "form-control"  %>
                                </div>
                            </div>

                            <%= f.label :Roles %>
                            <%= f.collection_select :rol_id, Rol.all, :id, :name, { prompt: "Por favor selecciona uno", :selected => params[:search], hide_label: :true }, class: "input-sm" %> 
                            
                            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'  %>

                            <%= f.hidden_field :type_user, value: "Persona" %>

                        </div>
                        <br/><br/>
                    </div>
                    <a href="#" id="flipToRecover" class="flipLink btn btn-lg btn-primary btn-block" style="margin-top:120px; right: 100px; width:180px;">
                  Suiguiente Pagina
                    </a>

                <% end %>

          <form class="form-signin" id="recover" role="form">
            <h3 class="form-signin-heading">Enter email address</h3>
            <a href="#" id="flipToLogin" class="flipLink">
              <div id="triangle-topleft"></div>
            </a>
            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Email address" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Recover password</button>
          </form>

                    <div id="recover" class="form-signin">
                    <div class="col-md-6">
                            <div class="col-sm-10">
                            </div>
                        </div>

                    <a href="#" id="flipToLogin" class="flipLink btn btn-lg btn-primary btn-block" style="margin-top:120px; right: 100px; width:180px;">
                      Regresar
                    </a>
                    </div>



      

        <% end %>



        <% if current_user.type_user == "Empresa" %>

          <form class="form-signin " id="login" role="form">
            <h3 class="form-signin-heading"><br/>Please sign in</h3>
            <a href="#" id="flipToRecover" class="flipLink">
              <div id="triangle-topright"></div>
            </a>
            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
    
          <form class="form-signin" id="recover" role="form">
            <h3 class="form-signin-heading" >Enter email address</h3>
            <a href="#" id="flipToLogin" class="flipLink">
              <div id="triangle-topleft"></div>
            </a>
            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Email address" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Recover password</button>
          </form>
        <% end %>



        </div>
        </div> <!-- /container -->
    </div>
</div>


  <br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/>
    </div>
</div>
</div>

<style type="text/css">
    .fondo{
    background: url(http://mymaplist.com/img/parallax/back.png);
    background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}
</style>

<script type="text/javascript">
    
    $(document).ready(function(){
  $(document).mousemove(function(e){
     TweenLite.to($('.fondo'), 
        .5, 
        { css: 
            {
                backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
            }
        });
  });
});
</script>