<script type="text/javascript">
  // Multiplicar Cantidad por Precio Modelo de Productos
$(document).ready(function () {
    $(".txt1, .txt2").change(function() {
        $(".txt3").val($(".txt1").val() * $(".txt2").val());
    });
});
</script>




<script type="text/javascript">
     function validate(field) {
    // Get the  value of the input field being submitted
    value = document.getElementById(field).value;

    // Set the error field tag in the html
    errorField = field + 'Error';

    // Set the success field
    successField = field + 'Success';

    if (value != '') {
        document.getElementById(successField).style.display = 'block';
        document.getElementById(errorField).style.display = 'none';
        return true;
    } else {
        document.getElementById(successField).style.display = 'none';
        document.getElementById(errorField).style.display = 'block';
        return false;
    }
}

function SimulateSubmit() {
    // Query your elements some how
    var inputs = document.getElementsByTagName('input');

    // Loop your elements
    for (i = 0, len = inputs.length; i < len; i++) {
        if( validate(inputs[i].id) === false) {
        }
    }
}
</script>

<style type="text/css">
    .err, .suc {
    display: none;
}
.err { color: red;}
.suc { color: green;}
</style>






<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<div class="fondo">



<div class="container">
<br/><br/><br/>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">1) Datos del Productos:</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">2) Sube las Imagenes</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">


<style type="text/css">
    .eee{
        display: block
    }
</style>


<%= simple_form_for(@product, :html => { :multipart => true, :remote => true }) do |f| %>
<div id="login-form" class="eeee">

            <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Nombre:</span>
                                            <%= f.text_field :name, class: "form-control valid", id: 'Nombre', onblur: "validate('Nombre')" %>
                                        </div>
                                        <span id="NombreError" class="err">Por Favor ingresa un Nombre</span>
                                        <span id="NombreSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Stock:</span>
                                            <%= f.number_field :stock, class: "form-control valid", id: 'Stock', onblur: "validate('Stock')" %>
                                        </div>
                                        <span id="StockError" class="err">Por Favor ingresa un Stock</span>
                                        <span id="StockSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Cantidad:</span>
                                            <%= f.number_field :quantity, class: "form-control valid txt1", id: 'Cantidad', onblur: "validate('Cantidad')" %>
                                        </div>
                                        <span id="CantidadError" class="err">Por Favor ingresa una Cantidad</span>
                                        <span id="CantidadSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Referencia:</span>
                                            <%= f.text_field :reference, class: "form-control valid", id: 'Referencia', onblur: "validate('Referencia')" %>
                                        </div>
                                        <span id="ReferenciaError" class="err">Por Favor ingresa una Referencia</span>
                                        <span id="ReferenciaSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Nuevo Usado:</span>
                                             <%= f.input :new_used,
                                                  prompt:       '-- Seleccionar --',
                                                  collection: @product.select_new_used.sort,
                                                  error: false, label: false,
                                                  input_html:   {class: 'form-control'}, id: 'NuevoUsado', onblur: "validate('NuevoUsado')" %>
                                        </div>
                                        <span id="NuevoUsadoError" class="err">Por Favor Selecciona si es nuevo o usado</span>
                                        <span id="NuevoUsadoSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Tipo Producto:</span>
                                            <%= f.collection_select :type_product_id,
                                            TypeProduct.all, :id, :name, { prompt: "Por favor
                                                selecciona uno", :selected => params[:search], hide_label: :true }, class: "input-sm", id: 'TipoProducto', onblur: "validate('TipoProducto')" %>
                                        </div>
                                        <span id="TipoProductoError" class="err">Por Favor Selecciona un tipo de producto</span>
                                        <span id="TipoProductoSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Precio Unitario:</span>
                                            <%= f.number_field :unit_price, class: "form-control valid txt2", id: 'PrecioUnitario', onblur: "validate('PrecioUnitario')" %>
                                        </div>
                                        <span id="PrecioUnitarioError" class="err">Por Favor ingresa un Precio</span>
                                        <span id="PrecioUnitarioSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Total:</span>
                                            <%= f.number_field :total, class: "form-control valid txt3", :readonly => true %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                    <div class="col-md-12">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="input-group-addon">Descripción:</span>
                                            <%= f.text_area :description, class: "form-control valid", id: 'Descripcion', onblur: "validate('Descripcion')" %>
                                        </div>
                                        <span id="DescripcionError" class="err">Por Favor ingresa una Descripcion</span>
                                        <span id="DescripcionSuccess" class="suc">Dato ingresado correctamente</span>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            
                        </div>
                </div>

</div>


<style type="text/css">
    .aaaa{
        display: none
    }
</style>

<div id="register-form" class="aaaa">


                                    






                            <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-container">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                          <div>
                                            <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :avatar, class: "form-control", id: 'button' %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-container">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                          <div>
                                            <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :avatar2, class: "form-control" %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-container">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                          <div>
                                            <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :avatar3, class: "form-control" %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-container">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                          <div>
                                            <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :avatar4, class: "form-control" %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                          </div>
                                        </div>
                                    </div>
                                    </div>
                                <%= f.hidden_field :user_id, :value => current_user.id %>
                            </div>
                            </div>
                            </div>



                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <%= f.submit "Guardar", :class => 'form-control btn btn-register' %>
                                                <%= link_to "Cancelar", root_path, :class => 'form-control btn btn-default' %>
                                            </div>
                                        </div>
                                    </div>


</div>
<% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>

    </div>


    <style type="text/css">

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
</style>


<script type="text/javascript">
    $(function() {

    $('#login-form-link').click(function(e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#register-form-link').click(function(e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });

});

</script>

</div>
<style type="text/css">
    
    .fondo{
    background: url(http://mymaplist.com/img/parallax/back.png);
    background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}
</style>

<script type="text/javascript">
    $(document).ready(function(){
  $(document).mousemove(function(e){
     TweenLite.to($('body'), 
        .5, 
        { css: 
            {
                backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
            }
        });
  });
});
</script>