
<style type="text/css">

#custom_carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}
</style>


<script type="text/javascript">
  $(document).ready(function(ev){
    $('#custom_carousel').on('slide.bs.carousel', function (evt) {
      $('#custom_carousel .controls li.active').removeClass('active');
      $('#custom_carousel .controls li:eq('+$(evt.relatedTarget).index()+')').addClass('active');
    })
});
</script>



  
<div class="container-fluid" style="width:80%;">
    <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="1500">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                        <% if @product.avatar? %>
                            <%= link_to image_tag(@product.avatar, size:'200x200'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                            <% else %>
                             <%= link_to image_tag('default.jpg'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                             <% end %>
                        </div>
                        <div class="col-md-9">
                            <div class="product-title">Corsair GS600 600 Watt PSU</div>
                              <div class="product-desc">The Corsair Gaming Series GS600 is the ideal price/performance choice for mid-spec gaming PC</div>
                              <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> 
                            </div>
                            <hr>
                            <div class="product-price">$ 1234.00</div>
                            <div class="product-stock">In Stock</div>
                            <hr>
                        </div>
                    </div>
                </div>            
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                        <% if @product.avatar2? %>
                          <%= link_to image_tag(@product.avatar2, size:'200x200'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive'  %>
                          <% else %>
                           <%= link_to image_tag('default.jpg', size:'200x200'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                           <% end %>
                        </div>
                        <div class="col-md-9">
                            <div class="product-title">Corsair GS600 600 Watt PSU</div>
                              <div class="product-desc">The Corsair Gaming Series GS600 is the ideal price/performance choice for mid-spec gaming PC</div>
                              <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> 
                            </div>
                            <hr>
                            <div class="product-price">$ 1234.00</div>
                            <div class="product-stock">In Stock</div>
                            <hr>                        
                        </div>
                    </div>
                </div>            
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                          
                          <% if @product.avatar3? %>
                            <%= link_to image_tag(@product.avatar3, size:'200x200'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                          <% else %>
                             <%= link_to image_tag('default.jpg', size:'200x200'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                          <% end %>

                        </div>
                        <div class="col-md-9">
                            <div class="product-title">Corsair GS600 600 Watt PSU</div>
                              <div class="product-desc">The Corsair Gaming Series GS600 is the ideal price/performance choice for mid-spec gaming PC</div>
                              <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> 
                            </div>
                            <hr>
                            <div class="product-price">$ 1234.00</div>
                            <div class="product-stock">In Stock</div>
                            <hr>
                        </div>
                    </div>
                </div>           
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                          
                        <% if @product.avatar4? %>
                          <%= link_to image_tag(@product.avatar4, size:'200x200'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                        <% else %>
                          <%= link_to image_tag('default.jpg', size:'200x200'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                        <% end %>


                        </div>
                        <div class="col-md-9">
                            <div class="product-title">Corsair GS600 600 Watt PSU</div>
                              <div class="product-desc">The Corsair Gaming Series GS600 is the ideal price/performance choice for mid-spec gaming PC</div>
                              <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> 
                            </div>
                            <hr>
                            <div class="product-price">$ 1234.00</div>
                            <div class="product-stock">In Stock</div>
                            <hr>                        
                          </div>
                    </div>
                </div>           
            </div> 
        <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <div class="controls">
            <ul class="nav">
                <li data-target="#custom_carousel" data-slide-to="0" class="active">
                <% if @product.avatar? %>
                  <%= link_to image_tag(@product.avatar, size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% else %>
                  <%= link_to image_tag('default.jpg', size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% end %>

                <small>Imagen 1</small></li>
                <li data-target="#custom_carousel" data-slide-to="1">
              
                <% if @product.avatar2? %>
                  <%= link_to image_tag(@product.avatar2, size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% else %>
                  <%= link_to image_tag('default.jpg', size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% end %>

                <small>Imagen Dos</small></li>
                <li data-target="#custom_carousel" data-slide-to="2">

                <% if @product.avatar3? %>
                  <%= link_to image_tag(@product.avatar3, size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% else %>
                  <%= link_to image_tag('default.jpg', size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% end %>

                <small>Imagen Tres</small></li>
                <li data-target="#custom_carousel" data-slide-to="3">
                
                <% if @product.avatar4? %>
                  <%= link_to image_tag(@product.avatar4 size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% else %>
                  <%= link_to image_tag('default.jpg', size:'50x50'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link img-responsive' %>
                <% end %>

                <small>Imagen 4</small></li>
            </ul>
        </div>
    </div>
    <!-- End Carousel -->
</div>


<style type="text/css">
  /*********************************************
          Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
            Theme Elements
*********************************************/

.gold{
  color: #FFBF00;
}

/*********************************************
          PRODUCTS
*********************************************/

.product{
  border: 1px solid #dddddd;
  height: 321px;
}

.product>img{
  max-width: 230px;
}

.product-rating{
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title{
  font-size: 20px;
}

.product-desc{
  font-size: 14px;
}

.product-price{
  font-size: 22px;
}

.product-stock{
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info{
    margin-top: 50px;
}

/*********************************************
          VIEW
*********************************************/

.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
}

.container-fluid{
  max-width: 1140px;
  margin: 0 auto;
}

.view-wrapper {
  float: right;
  max-width: 70%;
  margin-top: 25px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

/*********************************************
        ITEM 
*********************************************/

.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {
  padding-right: 50px;
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
  max-height: 155px;
}

</style>


<div class="container-fluid">
    <div class="content-wrapper"> 

    <div class="container-fluid">   
      <div class="col-md-12 product-info">
          <ul id="myTab" class="nav nav-tabs nav_tabs">
            
            <li class="active"><a href="#service-one" data-toggle="tab">Descripción</a></li>
            <li><a href="#service-two" data-toggle="tab">Información del Producto</a></li>
            <li><a href="#service-three" data-toggle="tab">Preguntas</a></li>
            
          </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">
             
              <section class="container product-info">
                
                <h3>Descripción de <%= @product.name %>:</h3>
                <%= @product.description %>
              </section>
                      
            </div>
          <div class="tab-pane fade" id="service-two">
            

            <style type="text/css">@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

              .panel-pricing {
                -moz-transition: all .3s ease;
                -o-transition: all .3s ease;
                -webkit-transition: all .3s ease;
              }
              .panel-pricing:hover {
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
              }
              .panel-pricing .panel-heading {
                padding: 20px 10px;
              }
              .panel-pricing .panel-heading .fa {
                margin-top: 10px;
                font-size: 58px;
              }
              .panel-pricing .list-group-item {
                color: #777777;
                border-bottom: 1px solid rgba(250, 250, 250, 0.5);
              }
              .panel-pricing .list-group-item:last-child {
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
              }
              .panel-pricing .list-group-item:first-child {
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
              }
              .panel-pricing .panel-body {
                background-color: #f0f0f0;
                font-size: 40px;
                color: #777777;
                padding: 20px;
                margin: 0px;
              }
              </style>
            <section class="container">
                    <br/><br/><br/>
      
              <!-- Plans -->
              <section id="plans">
                  <div class="container">
                      <div class="row">



                          <!-- item -->
                          <div class="col-md-8 text-center col-md-offset-2">
                              <div class="panel panel-success panel-pricing">
                                  <div class="panel-heading">
                                      <i class="fa fa-comments-o"></i>
                                      <h2><b>Nombre: </b><%= @product.name %></h2>
                                  </div>
                                  <div class="panel-body text-center">
                                      <h3><strong>Referencia: </strong><%= @product.reference %></h3>
                                  </div>
                                  <ul class="list-group text-center" style="text-indent:15px !important;">
                                      <li class="list-group-item" style="font-size:20px;"><i class="fa fa-align-right"></i>Cantidad: <%= @product.stock %></li>
                                      <li class="list-group-item" style="font-size:20px;"><i class="fa fa-credit-card"></i>Precio Unitario: <%= @product.unit_price %></li>
                                      <li class="list-group-item" style="font-size:20px;"><i class="fa fa-check-square-o"></i>Nuevo Usado: <%= @product.new_used %></li>
                                      <li class="list-group-item" style="font-size:20px;"><i class="fa fa-usd"></i>Valor Total: <%= @product.total %></li>
                                  </ul>
                                  

                                  <style type="text/css">
                                    body.modal-open #wrap{
                                      -webkit-filter: blur(7px);
                                      -moz-filter: blur(15px);
                                      -o-filter: blur(15px);
                                      -ms-filter: blur(15px);
                                      filter: blur(15px);
                                  }
                                    
                                  .modal-backdrop {background: #f7f7f7;}

                                  .close {
                                      font-size: 50px;
                                      display:block;
                                  }
                                  </style>

                                  <div id="wrap" class="text-center">

                                  <div class="panel-footer">
                                      <a class="btn btn-lg btn-block btn-success color-blanco" href="#"  data-toggle="modal" data-target="#myModal">Estoy Interesado!</a>
                                  </div>
                                  </div>


                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm-6 col-sm-offset-3 text-center">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                                        <br><br>
                                        <h2>Articulo: <%= @product.name %></h2>
                                        <h2>Publicado por: <%= @product.user.email %></h2>
                                        <h4>Si se encuentra interesado en este prducto, por favor comunicarse con el propietario del articulo </h4>
                                        <h4><kbd><span class="glyphicon glyphicon-earphone"></span></kbd> <%= @product.user.phone %></h4>
                                        <hr>
                                        <div class="alert alert-success"><h4>Gracias por usar SinStock!!</h4></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                          </div>
                          <!-- /item -->

                      </div>
                  </div>
              </section>
              <!-- /Plans -->
            </section>








            
          </div>
          <div class="tab-pane fade" id="service-three">
                <% if current_user %>
                <h3 class="comment-section-header">Preguntas:</h3>
                <!-- renders the _comment.html.erb partial file. -->
                <p><%= render @product.comments %></p>
                <h3 class="reply-to-msg">Escribe tu Pregunta:</h3>
                <!-- renders the comments form -->
                <%= render 'comments/form' %>
                <% else %>
                <div class="alert alert-danger"><h3>Necesitas Loguearte para Preguntar, <%= link_to 'Login', login_path %></h3></div>
                <% end %>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
